.product-images {
  display: flex;
}

.product-thumbnail img{
  vertical-align: middle;
  padding-bottom: 10px;
  padding-top: 10px;
}

.thumb-controls {
  padding: 20px;
  height: 13px;
  width: 45px;
}

.featured-image {
  margin: 15px;
}

.thumb-next .arrow {
  transform: rotate(-45deg);
}

.thumb-prev .arrow {
  transform: rotate(135deg);
}

.arrow {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.arrow:hover {
  border-color: gray;
}

.inactive .arrow {
  border-color: lightgray;
}