.product-images {
  width: 50%;
  display: flex;
}

.featured-image-wrapper__center {
  margin-left: 25px;
  overflow: hidden;
}

.featured-image-zoom {
  height: 720px;
  position: relative;
  overflow: hidden;
  object-fit: none;
  transition-property: visibility, opacity;
  transform-style: ease;
  transition-duration: 0.5s;
}

.featured-image {
  position: absolute;
  height: 720px;
  object-fit: contain;
  transition: all ease 0.5s;

}

.product-thumbnail img {
  vertical-align: middle;
  padding-bottom: 10px;
  padding-top: 10px;
}

.thumb-controls {
  padding: 20px;
  height: 13px;
  width: 45px;
}

.thumb-prev .arrow {
  transform: rotate(135deg);
}

.thumb-next .arrow {
  transform: rotate(-45deg);
}

.arrow {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.arrow:hover {
  border-color: gray;
}

.inactive .arrow {
  border-color: lightgray;
}

@keyframes bounce-prev {
  0% {top: 0;}
  20% {top: 5px;}
  32% {top: 0;}
  42% {top: 2px;}
  50% {top: 0;}
}

@keyframes bounce-next {
  0% {top: 0;}
  20% {top: -5px;}
  32% {top: 0;}
  42% {top: -2px;}
  50% {top: 0;}
}
